<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'c1e51698-0260-474f-bd78-3cb04a559dbc'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <br />
    <div class="ui container">
    <div class="ui grey stackable menu">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "ui item" })
        @Html.ActionLink("Seed", "Index", "Seed", null, new { @class ="ui item"})

        <div class="right menu">
            @{
                if (Session["Logged in"] != null)
                {
                    var isLogged = (bool)Session["Logged in"];
                    if (isLogged)
                    {
                        
                            <div class="ui item simple dropdown">
                                Hello, @Session["Username"]
                                <div class="ui menu">
                                    @Html.ActionLink("Logout", "Logout", "Login", null, new { @class="ui item"})
                                    <div class="ui item">Choice 2</div>
                                    <div class="ui item">Choice 3</div>
                                </div>
                            </div>
                        

                        
                    }


                }
                else
                {
                    @Html.ActionLink("Login", "Index", "Login", null, new { @class = "ui item" })
                }
            }

           

        </div>
    </div>
        </div>
    
    
    
    
    <div class="ui container body-content">
        <br />
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
